@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_big: 17px;
        --font_size_title_small: 20px;
        --font_size_title: 26px;
        --font_size_title_big: 32px;
        --border_radius: var(--cont_padding);
    }


    .swiper-button-next,
    .swiper-button-prev
    {
        width: 48px;
        height: 48px;

        border-width: 3px;
    }


    .swiper-button-next .icon,
    .swiper-button-prev .icon
    {
        width: 14px;
        height: 22px;
    }



    /*--------------
        ButtonUp
    --------------*/
    .buttonUp
    {
        top: 192px;

        margin-right: -526px;
    }



    /*---------------
        Load more
    ---------------*/
    .load_more
    {
        margin-top: var(--cont_padding_double);
    }


    .load_more .btn
    {
        padding: 16px calc(var(--cont_padding) * 3);
    }



    /*--------------
        All link
    --------------*/
    .all_link
    {
        margin-top: var(--cont_padding_double);
    }


    .all_link a
    {
        padding: 14px 30px;

        font-size: var(--font_size_big);

        border-width: 2px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding-block: var(--cont_padding);
        padding-inline: 40px var(--cont_padding_double);
    }


    .accordion_item .head .title
    {
        width: calc(100% - 52px);
    }


    .accordion_item .head .icon
    {
        width: 28px;
        height: 16px;
    }


    .accordion_item .data
    {
        margin-top: 0;
        padding-block: 0 var(--cont_padding);
        padding-inline: 40px calc(var(--cont_padding) * 3);
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        gap: var(--cont_padding_half);
    }


    .tabs .btn
    {
        padding-inline: var(--cont_padding);
    }


    .tabs > *:nth-last-child(1),
    .tabs > *:nth-last-child(2),
    .tabs > *:nth-last-child(3)
    {
        margin-inline: 0;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding-block: 30px;
    }


    header .logo img
    {
        width: 190px;
        height: 28px;
    }


    header .menu_item > a
    {
        padding: var(--cont_padding_half);
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns
    {
        --form_columns_offset: 16px;
    }


    .form .line
    {
        margin-bottom: 20px;
    }


    .form .input
    {
        height: 60px;
    }


    .form .submit_btn
    {
        min-height: 60px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: var(--cont_padding);
        padding-top: var(--cont_padding);
    }


    .first_section .cont
    {
        padding-bottom: var(--cont_padding_double);
    }


    .first_section .data
    {
        width: 680px;

        gap: var(--cont_padding_half);
    }


    .first_section .form
    {
        width: 520px;
        margin-top: var(--cont_padding_double);
        padding-block: var(--cont_padding);
        padding-inline: var(--cont_padding_double);
    }


    .first_section .form .submit
    {
        right: -80px;
        bottom: -40px;
    }


    .first_section .form .submit_btn
    {
        width: 124px;
        height: 124px;

        box-shadow: 0 0 0 6px var(--white_color);
    }


    .first_section .image
    {
        width: 600px;
    }



    /*---------------------
        Free diagnostic
    ---------------------*/
    .free_diagnostic
    {
        padding-block: 120px calc(var(--cont_padding) * 3);
    }


    .free_diagnostic .data
    {
        padding-block: var(--cont_padding);
        padding-inline: calc(var(--cont_padding) * 3) 400px;
    }


    .free_diagnostic .image
    {
        right: var(--cont_padding_double);

        width: 300px;
    }



    /*------------
        Why we
    ------------*/
    .why_we_block
    {
        margin-bottom: calc(var(--cont_padding) * 3);
    }


    .why_we .grid
    {
        height: 1266px;
    }


    .why_we .item
    {
        gap: var(--cont_padding);
    }


    .why_we .item .desc
    {
        font-size: var(--font_size);
    }


    .why_we .item .items
    {
        margin-top: var(--cont_padding);

        font-size: var(--font_size);
    }


    .why_we .item .quote:before
    {
        top: -52px;

        font-size: 100px;
    }


    .why_we .item .quote:after
    {
        bottom: -88px;

        font-size: 100px;
    }


    .why_we .item .items > *
    {
        gap: var(--cont_padding_half);
    }


    .why_we .item .items .icon
    {
        width: 24px;
        height: 24px;
    }


    .why_we .item .items span
    {
        width: calc(100% - 36px);
    }


    .why_we .item .author .photo
    {
        width: 568px;
        margin-bottom: -46px;
    }


    .why_we .item .author .info
    {
        right: var(--cont_padding);
        bottom: var(--cont_padding_double);

        width: 380px;
        padding-block: var(--cont_padding);
        padding-inline: var(--cont_padding);
    }



    .why_we .item1
    {
        width: 400px;
        height: 440px;
        padding-block: 160px var(--cont_padding);
        padding-inline: var(--cont_padding);
    }


    .why_we .item1 .image
    {
        top: -60px;
        right: var(--cont_padding);

        width: 220px;
    }



    .why_we .item2
    {
        width: calc(100% - 424px);
        height: 208px;
        padding-block: var(--cont_padding);
        padding-inline: var(--cont_padding) 200px;
    }


    .why_we .item2 .image
    {
        top: -40px;

        width: 200px;
    }



    .why_we .item3
    {
        top: 232px;

        width: calc(100% - 424px);
        height: 400px;
        padding-block: var(--cont_padding);
        padding-inline: 430px var(--cont_padding);
    }


    .why_we .item3 .image
    {
        top: var(--cont_padding);
        left: var(--cont_padding_double);

        width: 240px;
    }



    .why_we .item4
    {
        top: 498px;

        width: 800px;
        height: 268px;
        padding-block: var(--cont_padding);
        padding-inline: var(--cont_padding) 268px;
    }


    .why_we .item4 .image
    {
        right: var(--cont_padding);

        width: 240px;
    }



    .why_we .item5
    {
        height: 620px;
        padding-block: 180px var(--cont_padding_double);
        padding-inline: var(--cont_padding) 477px;
    }



    /*--------------
        Contacts
    --------------*/
    .contacts_page
    {
        padding-block: var(--cont_padding_double);
    }


    .contacts .data
    {
        gap: var(--cont_padding);
    }


    .contacts .email .icon
    {
        width: 28px;
        height: 20px;
    }


    .contacts .phone .icon
    {
        width: 24px;
        height: 24px;
    }



    /*-----------------
        Order block
    -----------------*/
    .order_block
    {
        margin-bottom: 0;
        padding-block: calc(var(--cont_padding) * 3);
    }


    .order_block .desc
    {
        width: 632px;
        margin-top: var(--cont_padding_half);
    }


    .order_block .form
    {
        width: 1000px;
        margin-top: var(--cont_padding);
    }


    .order_block .form.compressed
    {
        margin-top: var(--cont_padding);
    }


    .order_block .form.compressed .columns
    {
        width: calc(100% - 280px);

        --form_columns_offset: var(--cont_padding);
    }


    .order_block .form.compressed .submit
    {
        width: 280px;
    }


    .order_block .bg img
    {
        width: 360px;
        height: 383px;
    }


    .order_block .bg2
    {
        top: -100px;
        right: 20px;
    }


    .order_block .bg2 img
    {
        width: 272px;
        height: 258px;
    }



    /*--------------
        Articles
    --------------*/
    .articles_page
    {
        padding-block: var(--cont_padding_double);
    }


    .articles .row
    {
        margin-bottom: calc(var(--cont_padding_double) * -1);
        margin-left: calc(var(--cont_padding) * -1);
    }


    .articles .row > *
    {
        width: calc(50% - var(--cont_padding));
        margin-bottom: var(--cont_padding_double);
        margin-left: var(--cont_padding);
    }


    .articles .article
    {
        padding: var(--cont_padding);

        gap: var(--cont_padding_half);
    }


    .articles .article .desc
    {
        font-size: var(--font_size);
    }



    /*---------
        FAQ
    ---------*/
    .FAQ_page
    {
        padding-block: var(--cont_padding_double);
    }



    /*-------------
        Reviews
    -------------*/
    .reviews_page,
    .reviews_block
    {
        padding-block: var(--cont_padding_double);
    }


    .reviews .row
    {
        margin-left: calc(var(--cont_padding) * -1);
    }


    .reviews .row > *
    {
        width: calc(33.333% - var(--cont_padding));
        margin-left: var(--cont_padding);
    }


    .reviews .row > *.full_w
    {
        width: calc(100% - var(--cont_padding));
    }


    .reviews .review
    {
        padding: var(--cont_padding);

        gap: var(--cont_padding);
    }


    .reviews .review .photo
    {
        width: 60px;
        height: 60px;
    }


    .reviews .review .photo + *
    {
        width: calc(100% - 84px);

        gap: 8px;
    }


    .reviews .video_review .thumb
    {
        margin: 0 calc(var(--cont_padding) * -1) calc(var(--cont_padding) * -1);
    }


    .reviews .video_review .thumb .icon
    {
        width: 92px;
        height: 92px;
    }



    .reviews .review.view2
    {
        padding-block: var(--cont_padding);
        padding-inline: var(--cont_padding);

        gap: var(--cont_padding);
    }


    .reviews .review.view2 .photo
    {
        width: 92px;
        height: 92px;
    }


    .reviews .review.view2 .photo + *
    {
        width: calc(100% - 108px);

        gap: var(--cont_padding);
    }



    /*---------------
        Education
    ---------------*/
    .education .head
    {
        padding-block: var(--cont_padding_double);
    }



    .education .data
    {
        padding-block: var(--cont_padding_double);
    }


    .education .data .help_btn
    {
        padding-inline: var(--cont_padding);
    }


    .education .data .row
    {
        margin-bottom: calc(var(--cont_padding) * -1);
        margin-left: calc(var(--cont_padding) * -1);
    }


    .education .data .row > *
    {
        width: calc(50% - var(--cont_padding));
        margin-bottom: var(--cont_padding);
        margin-left: var(--cont_padding);
    }


    .education .data .item
    {
        min-height: 480px;
        padding-block: var(--cont_padding);
        padding-inline: var(--cont_padding);

        background-size: 300px auto, 360px auto;
    }


    .education .data .item .desc
    {
        margin-top: var(--cont_padding_half);

        font-size: var(--font_size);
    }


    .education .data .item .btn
    {
        padding-block: calc(var(--cont_padding_half) - 1px);
        padding-inline: calc(var(--cont_padding) - 1px);

        font-size: var(--font_size_big);
    }


    .education .data .item .thumb
    {
        height: 280px;
    }



    .education .steps
    {
        padding-block: calc(var(--cont_padding) * 3) var(--cont_padding_double);
    }


    .education .steps .data
    {
        padding-block: var(--cont_padding_double);
        padding-inline: calc(var(--cont_padding) * 3);
    }


    .education .steps .items
    {
        width: 660px;
        padding-top: 0;

        gap: var(--cont_padding);
    }


    .education .steps .image
    {
        right: var(--cont_padding_double);

        width: 460px;
    }



    /*------------
        Events
    ------------*/
    .events_page
    {
        padding-top: var(--cont_padding);
    }


    .events_block
    {
        margin-bottom: calc(var(--cont_padding) * 3);
    }


    .events .event
    {
        min-height: 580px;
        padding-block: var(--cont_padding_double);
        padding-inline: calc(var(--cont_padding) * 3);
    }


    .events .event .data
    {
        width: 600px;

        gap: 8px;
    }


    .events .event .title
    {
        font-size: 48px;
    }


    .events .event .date .icon
    {
        width: 30px;
        height: 30px;
    }


    .events .event .date span
    {
        width: calc(100% - 42px);
    }


    .events .event .speaker
    {
        width: 500px;
        padding-right: var(--cont_padding_double);
        padding-bottom: var(--cont_padding);
    }


    .events .event .speaker .photo
    {
        width: 100%;
    }


    .events .event .speaker .info
    {
        padding-inline: var(--cont_padding);

        gap: 8px;
    }


    .events .event .speaker .desc
    {
        font-size: var(--font_size);
    }



    .events .form
    {
        bottom: var(--cont_padding_double);
        left: calc(var(--cont_padding) * 4);

        width: 440px;
        margin-top: var(--cont_padding);
        padding-block: var(--cont_padding);
        padding-inline: var(--cont_padding);

        border-radius: var(--border_radius);

        --form_border_radius: var(--cont_padding_half);
    }


    .events .form .line
    {
        margin-bottom: var(--cont_padding_half);
    }


    .events .form .input
    {
        height: 48px;
    }


    .events .form .submit_btn
    {
        min-height: 48px;
    }


    .events .form .agree
    {
        margin-top: var(--cont_padding_half);
    }



    /*----------------------
        Students results
    ----------------------*/
    .students_results
    {
        padding-block: calc(var(--cont_padding) * 3) var(--cont_padding_double);
    }


    .students_results .row
    {
        margin-bottom: calc(var(--cont_padding_double) * -1);
        margin-left: calc(var(--cont_padding) * -1);
        padding-top: 0;
    }


    .students_results .row > *
    {
        width: calc(33.333% - var(--cont_padding));
        margin-bottom: var(--cont_padding_double);
        margin-left: var(--cont_padding);
    }


    .students_results .item .photo
    {
        width: 100px;
        height: 100px;
    }


    .students_results .item .photo + *
    {
        width: calc(100% - 120px);

        gap: 8px;
    }


    .students_results .item .desc
    {
        font-size: var(--font_size_big);
    }


    .students_results .btn
    {
        width: 300px;
        margin-top: var(--cont_padding_double);
        padding: var(--cont_padding_half) var(--cont_padding);

        font-size: var(--font_size_big);
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        margin-bottom: calc(var(--cont_padding) * 3);
        padding-block: var(--cont_padding_double);
    }


    .about_info .row
    {
        padding: 0;

        gap: var(--cont_padding);
    }


    .about_info .data
    {
        width: calc(100% - 504px);
        height: 331px;
        padding-block: var(--cont_padding);
        padding-inline: var(--cont_padding);

        gap: var(--cont_padding);
    }


    .about_info .mission
    {
        font-size: var(--font_size_big);
    }


    .about_info .students .label
    {
        margin-bottom: var(--cont_padding_half);
    }


    .about_info .students .items
    {
        font-size: var(--font_size);

        gap: var(--cont_padding_half);
    }


    .about_info .students .items > *
    {
        gap: var(--cont_padding_half);
    }


    .about_info .students .items .icon
    {
        width: 24px;
        height: 24px;
    }


    .about_info .students .items span
    {
        width: calc(100% - 36px);
    }


    .about_info .btn
    {
        right: var(--cont_padding);

        height: 60px;
        padding-inline: 32px;
    }


    .about_info .image
    {
        width: 480px;

        border-radius: var(--border_radius);
    }



    /*------------------
        Change lives
    ------------------*/
    .change_lives
    {
        margin-bottom: calc(var(--cont_padding) * 3);
    }


    .change_lives .grid
    {
        padding: 0;

        gap: var(--cont_padding);
    }


    .change_lives .item .desc
    {
        font-size: var(--font_size_big);
    }



    .change_lives .item1
    {
        padding-block: var(--cont_padding);
        padding-inline: 288px var(--cont_padding);
    }


    .change_lives .item1 .thumb
    {
        top: -44px;
        left: -12px;

        width: 280px;
    }



    .change_lives .item2
    {
        padding-block: 124px var(--cont_padding);
        padding-inline: var(--cont_padding);
    }


    .change_lives .item2 .thumb
    {
        top: -152px;
        right: 12px;

        width: 272px;
    }



    .change_lives .item3
    {
        padding-block: var(--cont_padding);
        padding-inline: var(--cont_padding_double) 320px;
    }


    .change_lives .item3 .thumb
    {
        top: -24px;
        right: -24px;

        width: 284px;
    }



    /*------------------
        About author
    ------------------*/
    .about_author
    {
        margin-bottom: var(--cont_padding_double);
    }


    .about_author .photo
    {
        width: 400px;
        margin-right: 0;
    }


    .about_author .data
    {
        width: calc(100% - 424px);

        gap: var(--cont_padding);
    }


    .about_author .data .name
    {
        margin-bottom: 4px;

        font-size: 52px;
    }


    .about_author .data .desc
    {
        font-size: var(--font_size);

        gap: var(--cont_padding_half);
    }


    .about_author .data .slogan
    {
        padding-block: 40px;
        padding-inline: var(--cont_padding_double);
    }


    .about_author .data .slogan br
    {
        display: none;
    }



    .about_author .brian_tracy
    {
        margin-top: var(--cont_padding_double);

        gap: var(--cont_padding);
    }


    .about_author .brian_tracy .info
    {
        width: calc(50% - var(--cont_padding_half));
        padding-block: var(--cont_padding_double);
    }


    .about_author .brian_tracy .title
    {
        font-size: var(--font_size_title);
    }


    .about_author .brian_tracy .image
    {
        width: calc(50% - var(--cont_padding_half));
    }



    .about_author .bottom
    {
        margin-top: var(--cont_padding_double);

        gap: var(--cont_padding);
    }


    .about_author .bottom .slogan
    {
        width: calc(50% - var(--cont_padding_half));
        padding-block: calc(var(--cont_padding) * 3);
        padding-inline: var(--cont_padding);
    }


    .about_author .bottom .action
    {
        width: calc(50% - var(--cont_padding_half));
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding);
    }


    .about_author .bottom .action .desc
    {
        margin-top: var(--cont_padding_half);
    }


    .about_author .bottom .action .btn
    {
        margin-top: var(--cont_padding);
        padding: var(--cont_padding_half) var(--cont_padding);

        font-size: var(--font_size_big);
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-block: var(--cont_padding_double);
    }


    footer .cont
    {
        max-width: 1100px;
    }



    footer .logo img
    {
        width: 190px;
        height: 28px;
    }



    footer .menu
    {
        width: 400px;

        gap: 20px 40px;
    }


    footer .menu > *:nth-child(1)
    {
        width: 152px;
    }

    footer .menu > *:nth-child(2)
    {
        width: 108px;
    }

    footer .menu > *:nth-child(3)
    {
        width: 60px;
    }



    footer .socials
    {
        gap: 16px;
    }



    footer .links
    {
        width: 216px;
    }


    footer .requisites
    {
        width: 280px;
        margin-left: 135px;
    }



    footer .email
    {
        width: 280px;
        margin-left: var(--cont_padding_double);
    }



    footer .copyright
    {
        margin-top: var(--cont_padding);
    }
}
